.cart-container {
  padding: 40px;
}

.cart-item {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
}

.cart-item img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.cart-item button {
  background: red;
  border: none;
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
}

@media screen and (max-width: 768px) {

  .cart-item {
    flex-direction: column;
    gap: 20px;
  }
}

.checkout-btn {
  background: #2563eb;
  border: none;
  color: white;
  padding: 14px 22px;
  border-radius: 6px;
  margin-top: 20px;
  cursor: pointer;
}