.home-container {
  padding: 40px;
}

.home-container h1 {
  margin-bottom: 30px;
}

.product-grid {
  display: grid;
  grid-template-columns:
  repeat(auto-fit, minmax(250px,1fr));
  gap: 25px;
}
.filters {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.filters input,
.filters select {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
}